@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');
body{
    font-family: Roboto, sans-serif;
    background-color: #EDF3BF;
    box-sizing: border-box;
    
}

.titulo{
        margin-top: 40px;
        font: Roboto;
        font-size: 56px;
        font-weight: 700;
        color: #75B79E;
        text-align: center;
        margin-bottom: 47px;
}

.cartas {
    padding-left: 15px;
    min-width:117px;
    height: 146px;
    position: relative;
    display: flex;
    margin-left: 34px;
    margin-bottom: 20px;

}
.montante{
    width: 65%;
   display: flex;
   flex-direction: column;
   align-items: center;
    margin: auto;
}
.container-cartas{
    display: flex;
    flex-wrap: wrap ;
    justify-content:center;
    align-items: center;

}

  .face {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    cursor: pointer;
}
  .imagens{
    width: 100px;
    height: 100px;
  }

  .verso {
    transform: rotateY(180deg);
  }

  .desvirada {
    transform: rotateY(0deg);
  }

  .virada{
    transform: rotateY(-180deg);
  }